body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

#paragraph2 {
    background-color: white;
    padding: 30px;
    border-style: solid;
    border-color: green;
    margin:25px;
}

.blue{
    background-color: rgb(11, 11, 114);
    color:white;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

th {
    background-color: gray;
}

td {
    background-color: white;
}

h2 {
    font-family: sans-serif;
}

.w3 {
    color:rgb(186, 43, 226)
}

ol {
    list-style-type: decimal-leading-zero;
}